header{
    background-color: #dedede;
}

header p {
    text-align: center;
    margin: 20px 0;
}
header input{
    width: 400px;
    margin-bottom: 20px;
    margin-left: 38%;
    height: 30px;
}